name: Terraform Deploy

on:
  workflow_dispatch:

env:
  AWS_REGION: eu-west-1

jobs:
  terraform:
    name: Deploy Production
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ">=1.0"

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Terraform Format Check
      run: terraform fmt -check
      working-directory: infra

    - name: Terraform Init
      run: terraform init
      working-directory: infra

    - name: Terraform Validate
      run: terraform validate
      working-directory: infra

    - name: Terraform Plan
      run: terraform plan -var-file="envs/prod.tfvars" -out=tfplan
      working-directory: infra

    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan
      working-directory: infra
